body{
    background-image:url(https://i.pinimg.com/564x/16/6a/68/166a68cd49c254105d5c22bfd02cc34e.jpg);
}
.navbar.navbar-expand-lg.bg-danger{
    background-color:#c7abc04d;
}
.list-group-item{
    background-color:transparent;
    color:aliceblue;
}
.fa-instagram:hover{
    cursor:pointer;
    color:rgb(180, 49, 141)
}
.fa-facebook:hover{
    cursor:pointer;
    color:rgb(9, 6, 192)
}
.fa-linkedin:hover{
    cursor:pointer;
    color:rgb(22, 83, 163)
}
.fa-user:hover{
    cursor:pointer;
    color:rgb(231, 137, 13)
}
.carousel-item > img { 
    max-height: 50vh}
section.about{
    margin: top 1px;
}